venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.tempmediaStorage/
.gemini/
project/node_modules/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment and IDEs
.env
.env.local
.vscode/
.idea/
.DS_Store
__pycache__/
